<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive" *ngIf="recuperaItensCarrinhoCompras().length > 0">
      <table class="table">
        <tbody>

          <tr *ngFor="let itemCarrinhoCompras of recuperaItensCarrinhoCompras()" [@selecionouItem]="estadoItemSelecionado">
            <th style="width:60%">({{ itemCarrinhoCompras.quantidade }} x) {{ itemCarrinhoCompras.itemMenu.name }}</th>                                                    
            <td class="text-right">{{ itemCarrinhoCompras.valorTotal() | currency: 'BRL': 'symbol' }}</td> <!-- pipe currency mudou no angular 5 de : | currency: 'BRL': true }} -->
            <td class="text-right">
              <a class="btn btn-sm danger" (click)="removerItemCarrinho(itemCarrinhoCompras)"><i class="fa fa-remove"></i></a>
            </td>
          </tr>

          <tr>
            <th>Total:</th>
            <td class="text-right">{{ recuperaValorTotalCompra() | currency: 'BRL': 'symbol' }}</td> <!-- pipe currency mudou no angular 5 de : | currency: 'BRL': true }} -->
          </tr>

        </tbody>
      </table>
    </div>

    <div class="table-responsive" *ngIf="recuperaItensCarrinhoCompras().length == 0">
      <p class="text-center">Seu carrinho está vazio!</p>
    </div>
  </div>

  <div class="box-footer" *ngIf="recuperaItensCarrinhoCompras().length > 0">
    <div class="pull-right">
      <button type="button" class="btn btn-danger" (click)="limparCarrinhoCompras()"><i class="fa fa-trash"></i> Limpar</button>
      <a [routerLink]="['/compra']" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
    </div>
  </div>
</div>